.buttonIcon {
    border-radius: 0.5rem;
    padding: 0;
    border: 0;
    cursor: pointer;
    user-select: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    outline: 0;
}

.buttonIcon:hover {
    /*
        Important is required because the color is set inline.
        The only way we can overwrite it is using !important.
    */
    color: var(--button-icon-hover-color) !important;
    background: var(--button-icon-hover-bg-color);
}
