@font-face {
    font-family: "Source Sans Pro";
    src: url(assets/source-sans-pro-v9-latin-regular.woff);
}

:root {
    /* pi-ui color variables */
    --color-white: #ffffff;
    --color-primary: #2970ff;
    --color-gray-dark: #3d5873;
    --color-gray-lighter: #e6eaed;
    --color-gray-lightest: #f3f5f6;
    --color-gray-lightest2: #f9fafa;
    --color-shadow-light: rgba(0, 0, 0, 0.2);
    --text-heading-color: var(--color-gray-dark);
    /* custom color variables */
    --color-red: red;
}

html {
    background-color: var(--color-gray-lightest);
}

body {
    margin: 0;
    font-family: "Source Sans Pro";
}

.header {
    display: flex;
    position: relative;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray-lightest2);
}

.logo {
    padding-left: 30px;
}

.nojsMessage {
    color: var(--color-red);
    font-size: 13px;
    margin-right: 20px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.card {
    width: 540px;
    background: var(--color-white) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 16px var(--color-shadow-light);
    opacity: 1;
    margin-bottom: 20px;
    padding: 20px;
}

.title {
    width: 540px;
    height: 34px;
    font-size: 27px;
    color: var(--text-heading-color);
}

.digestInput {
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    outline: 0;
    border: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--color-gray-lighter);
    font-size: 13px;
    transition: all 0.25s;
    line-height: 2rem;
}

.submitButton {
    color: var(--color-white);
    padding: 0.6rem 1rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    background-color: var(--color-primary);
    cursor: pointer;
}

@media screen and (max-width: 650px){
    .card {
      width: 80%;  
    }
}