.dropzoneWrapper {
  padding-bottom: 42px;
}

.dropzoneText {
  width: 100%;
  text-align: center;
  color: var(--color-primary-dark);
  font-size: 13px;
}

.fileInputLine {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  width: 100%;
}

.textFileName {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 13px;
  color: var(--color-gray-dark);
  width: 100%;
}

.deleteIcon {
  cursor: pointer;
}

.dropzone {
  height: 80px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 1.5px;
  border-radius: 2px;
  border-color: var(--color-gray-light);
  border-style: dashed;
  outline: none;
  cursor: pointer;
  transition: border .24s ease-in-out;
}
  
.dropzoneActive {
  border-color: var(--color-primary);
}
  
.dropzone:focus {
  border-color: var(--color-primary);
}