.dropzoneWrapper {
    padding-bottom: 42px;
}

.dropzoneText {
    width: 100%;
    text-align: center;
    color: var(--color-primary-dark);
    font-size: 13px;
}

.fileInputLine {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    width: 100%;
}

.textFileName {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 13px;
    color: var(--color-gray-dark);
    width: 100%;
}

.deleteIcon {
    cursor: pointer;
}
