
.dropzone {
  font-size: var(--font-size-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 0.2rem;
  border-radius: 0.5rem;
  border-color: var(--file-input-border-color);
  border-style: dashed;
  text-align: center;
  outline: none;
  user-select: none;
  cursor: pointer;
  transition: border 0.5s ease-in;
  padding: 2rem 3rem;
}

.dropzone:hover {
  background: var(--file-input-hover-bg-color);
}

@media screen and (min-width: 769px) {
  .dropzone {
    box-sizing: border-box;
    height: 9rem;
  }
}

.dropzoneActive {
  border-color: var(--font-color);
}

.dropzone:focus {
  border-color: var(--font-color);
}

.dropzoneError::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: -3px;
  left: -3px;
}

.dropzoneWrapper {
  position: relative;
}
