.footer {
  width: 100%;
  padding: 2rem;
  background: var(--color-primary-dark);
  bottom: 0;
  position: fixed;
  overflow:hidden;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 36px;
  min-width: 210px;
  font-size: 13px;
  color: var(--color-gray);
}

.ghLink {
  color: var(--color-primary);
  text-decoration: none;
}