.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw; 
}

.header {
  color: var(--color-gray-lightest2);
  border: 0 !important;
  height: 70px;
}

.spacerLeft {
  padding-left: 100px; 
}

.spacerRight {
  padding-right: 140px;
}


.searchBox {
  width: 540px;
  margin-top: 10px;
}

.searchInput {
  border: 1px solid;
  border-color: var(--color-gray-light);
}

.searchInput:hover {
  border-color: rgba(41, 112, 255, 0.5);
}

.searchInput:focus {
  border-color: var(--color-primary);
}

@media screen and (max-width: 1100px){

  .spacerLeft {
    padding-left: 50px;
  }

  .searchBox {
    padding-left: 50px;
  }

  .spacerRight {
    padding-right: 0;
  }
}