.headerContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.header {
  color: var(--color-gray-lightest2);
  border: 0 !important;
  height: 70px;
}

.searchBox {
  width: 540px;
  margin-top: 10px;
  margin-right: 70px;
}

.searchInput {
  border: 1px solid;
  border-color: var(--color-gray-light);
}

.searchInput:hover {
  border-color: rgba(41, 112, 255, 0.5);
}

.searchInput:focus {
  border-color: var(--color-primary);
}

@media screen and (max-width: 768px){

  .searchBox {
    width: 100%;
    padding-left: 50px;
    margin-right: 0;
  }

}