/* Header styles */

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header {
    color: #F9FAFA;
    border: 0 !important;
    height: 70px;
}

.spacerLeft {
    padding-left: 0; 
}

.spacerRight {
    display: none;
}

.searchBox {
    width: auto;
    margin-left: 0.5rem;
}

.searchInput {
    border: 1px solid;
    border-color: #A9B4BF;
}

.searchInput:hover {
    border-color: rgba(41, 112, 255, 0.5);
}

.searchInput:focus {
    border-color: #2970FF;
}

/* Page Body styles */

.container {
    background-color: #F3F5F6;
}

.pageMain {
    grid-row: auto;
    margin: 3rem 2rem;
}

.header {
    grid-row: auto;
}

@media screen and (min-width: 560px){
    .pageMain {
        max-width: 540px;
        grid-column: 5 / 14;
        margin-top: 6rem;
        margin-bottom: 8rem;
        margin-left: 50px;
        padding: 0 0 0 0;
    }

    .searchBox {
        width: 540px;
        margin-top: 1rem;
        margin-left: 0;
    }

    .spacerLeft {
        padding-left: 2rem; 
    }

    .spacerRight {
        display: block;
        padding-right: 4rem;
    }
}


/* Footer styles */

.footer {
    width: 100%;
    padding: 22px 128px;
    background: #091440;
    bottom: 0;
    position: fixed;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 36px;
    min-width: 210px;
    font-size: 13px;
    color: #8997a5;
}

.ghLink {
    color: #2970ff;
    text-decoration: none;
}
