.container {
  background-color: var(--color-gray-lightest);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.pageMain {
  flex-grow: 1;
  width: 100vw;
  max-width: 540px;
  align-self: center;
  margin: 45px 0 0 20px;
}

@media screen and (max-width: 640px){
  .pageMain {
    margin: 45px 0 0 0;
    padding: 0 40px 0 40px;
  }
}