.toggleButton {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    width: auto;
    height: auto;
    text-transform: none;
    cursor: pointer;
    display: block;
    background: transparent;
    align-self: center;
}

.toggleButtonLight {
    composes: toggleButton
}

.toggleButtonDark {
    composes: toggleButton
}

.toggleButtonLight:hover > svg > circle {
    opacity: 0;
}

.toggleButtonDark:hover > svg > circle {
    opacity: 1;
}