.card {
  background: var(--color-white) 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 16px var(--color-shadow-light);
  opacity: 1;
  margin-top: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-left: 30px;
}

.submitButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.submitButton {
  font-size: 13px;
  width: 125px;
  height: 44px;
}
