/* Modals styles */

.container {
    display: flex;
    width: 700px;
}

.iconRow {
    padding-right: 20px;
}

.infoText {
    color: #48566E;
    padding-top: 20px;
    padding-right: 80px;
    text-align: left;
}

.loadingResultsWrapper {
    width: 100%;
    display: flex;
    max-width: 780px;
    flex-direction: column;
}

.loadingItemCard {
    font-size: 18px;
    padding: 2em;
    display: flex;
    width: calc(100% - 4em);
    color: #3d5873;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.exapandableContent {
    background: #f6f8f8;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: max-height 0.15s ease-out;
    max-height: 0;
    overflow: hidden;
}

.ecExpanded {
    max-height: 600px;
}

.description {
    color: #8997a5;
    font-size: 0.75em;
    text-align: justify;
}

.description.padded {
    padding: 1em;
}

.tmpFormExpandable {
    max-width: 600px;
}

.tmpForm {
    font-size: 18px;
    line-height: 1.5em;
    padding: 2em;
    text-align: center;
}

.submitWrapper {
    width: 100%;
    text-align: center;
}

.technicalDetailsButton {
    cursor: pointer;
    font-size: 0.75em;
    color: #2970ff;
    padding-top: 1em;
}

.fileInputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.fileItemRemove {
    font-size: 16px;
    color: red;
    cursor: pointer;
    margin-left: 5px;
}

.dzMessageWrapper {
    width: 100%;
    text-align: center;
    color: #3d5873;
    font-size: 0.9em;
}

@media (min-width: 768px) {
    .tmpForm {
        text-align: left;
    }
    .submitWrapper {
        text-align: right;
    }
}
