.hashInputWrapper {
    margin-top: 57px;
    margin-bottom: 47px;
}

.addButtonWrapper {
    cursor: pointer;
}

.addButton {
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-right: 7px;
    margin-left: 3px;
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    background-color: var(--color-primary);
    outline: none;
}

.addButtonText {
    color: var(--color-primary);
    font-size: 13px;
}

.hashInputLine {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.hashIcon {
    padding-right: 5px;
}

.deleteIcon {
    cursor: pointer;
}

.textInput {
    background-color: transparent;
    outline: 0;
    border: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--color-gray-lighter);
    font-size: 13px;
    padding-left: 10px;
    transition: all 0.25s;
    line-height: var(--spacing-2);
}

.textInput::placeholder {
    color: var(--color-gray-light);
    font-size: 13px;
}
  
.textInputWrapper {
    width: 100%;
}   