
.heading {
  margin-top: 0;
  margin-bottom: 2.5rem;
  color: var(--main-card-heading-color);
  font-size: var(--font-size-md);
  font-weight: normal;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading:after {
  content: "";
  border-top: 0.1rem solid;
  margin: 0 0 0 1.3rem;
  flex: 1 0 1.3rem;
}

.chainInfoTable {
  margin: 0;
  border: 0;
  width: 100%;
  overflow-wrap: anywhere;
  border-collapse: separate;
  border-spacing: 0 1.3rem;
}

.chainInfoLine > td:first-of-type {
  min-width: 10rem;
}

.digestWrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 5.5rem;
}

.statusWrapper {
  display: flex;
  align-items: center;
}

.statusDigestWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2.5rem;
  font-size: var(--font-size-lg);
  justify-content: space-between;
}

.statusText {
  margin-right: 1.3rem;
  font-weight: 500;
}